mixin snsicon(altName, imgPath, ahref="#none")
  li: a(href=ahref): img(src=imgPath alt="연결 "+altName)

footer.footer 
  div.footer-logo
      img(src=`${imgPath}/common/logo_footer.png`, alt="로고")
  div.footer-info  
    div.copy-text-cont
      div 회사면
      p 
      p.copyright copyright &copy careasy Corp.All rights reserved.
    div.footer-snsicon-cont
      ul.snsicon-ul
        +snsicon("카톡",`${imgPath}/common/icon_circle_katalk.png`)
        +snsicon("블로그",`${imgPath}/common/icon_circle_blog.png`)
        +snsicon("유뷰브",`${imgPath}/common/icon_circle_youtube.png`)
        +snsicon("인스타그램",`${imgPath}/common/icon_circle_instagram.png`)
        
        